body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   color: #333;
   line-height: 1.6;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.intro {
	display:flex;
	flex-direction: column;
	justify-content: center;
   width: 100%;
   height: 100vh;
   background: url('../img/images/intro.jpg') center no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
}
.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;

}
.intro__title:after {
	margin-bottom: 20px;
	content:'';
	display: block;
	height: 3px;
	width: 60px;
	background-color: #fff;
	margin: 60px auto 0;
}

.intro__inner {
	width: 100%
	max-width: 880px;
	margin: 0 auto;
}
.intro__suptitle {
	font-size: 72px;
	color: #fff;
	font-family:'Kaushan Script', cursive;;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

.header {
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav {
	font-size: 14px;
	text-transform: uppercase;
}
.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	color: #fff;
	text-decoration: none;
	position: relative;

	transition: color 0.1s linear;
}
.nav__link:hover {
	color:#fce38a;
}
.nav__link:afrer {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;

	background-color: #fce38a;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;
} 
.nav__link:hover:after {
	opacity: 1;
}